.container{
    margin: 30px;
    border: solid 1px black;
    padding-left: 50px;
    width: 80%;
}
.div{
    margin-top: 30px;
    margin-bottom: 30px;
}
h3{
    margin-bottom: 30px;
}
  .child {
    display: inline-block;
    width: 50%;
  }
  .btn{
    margin: 20px;
  }