<!-- <nav class="navbar bg-primary">
    <div class="container-fluid">
        <span class="navbar-brand mb-0 h1" style="text-align:center;"> ClientData</span>
    </div>
</nav>


<div class="container">
    <form class="" [formGroup]="Logform"  >
        <h3 style="text-align:center; padding: 10px;">Login</h3>
        <div class="col p-4">
            <label for="inputEmail4" class="form-label">User ID</label>
            <input type="text" class="form-control" formControlName="id" id="" >
            <span class="text-danger" *ngIf="formErrors.id" >{{formErrors.id}}</span>
        </div>

        <div class="col p-4">
            <label for="inputEmail4" class="form-label">Password</label>
            <input type="email" formControlName="password" class="form-control" id="" >
            <span class="text-danger" *ngIf="formErrors.password">{{formErrors.password}}</span>

        </div>
        <div class="col " style="margin-left: 100px; margin-top: 30px;">
            <button type="submit" (click)="loginform()" class="btn btn-primary">Login</button>
            <input type="button" value="Sign-up" class="btn btn-warning" style="margin-left: 10px;">
        </div>
    </form>
</div> -->